<div class="container">
    <div class="header">
        <h5 class="text-center">
            User Details
        </h5>
        <!--Search functionality-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search .." [(ngModel)]="filter">
        </div>

        <a href="../users" class="btn btn-primary"> Add User </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                   User Name
                </th>
                <th>
                    User Password
                 </th>
                 <th>
                    Role
                 </th>
                <th>
                    Is Active Status
                 </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let user of userService.users| filter: filter | paginate: {itemsPerPage:5,currentPage:page}">
                <td>{{user.UserId}}</td>
                <td>{{user.UserName}}</td>
                <td>{{user.UserPassword}}</td>
                <td>{{user.RoleId}}</td>
                <td>{{user.IsActive}}</td>


                <td>
                    <button (click)="deleteform(user)" class="btn btn-sm btn-outline-danger">Delete</button>&nbsp;
                    
                    <button (click)="updateuser(user.UserId)" class="btn btn-sm btn-info"
                        style="margin-left:10px">Edit</button>
                </td>

            </tr>
        </tbody>



    </table>

    <div class="footer">
        <!--pagination - control-->

        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

</div>


