<app-navbar></app-navbar>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form name="event form" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

                <!--Event ID-->
                <input type="hidden" name="EventId" [(ngModel)]="service.eFormData.EventId" />

                <!--Event Name-->
                <div class="form-group">
                    <label>Event Name</label>
                    <input name="EventName" #EventName="ngModel" [(ngModel)]="service.eFormData.EventName"
                        class="form-control" placeholder="enter event name " minLength="1" maxLength="25" required
                        [ngClass]="{'is-invalid':EventName.touched && EventName.invalid}" />
                    <div class="validation-error" *ngIf="EventName.touched && EventName.invalid">
                        <div *ngIf="EventName.errors.required">Event Name is required</div>
                    </div>
                </div>

                <!--Event description-->
                <div class="form-group">
                    <label>Event Description </label>
                    <textarea name="EventDescription" #EventDescription="ngModel"
                        [(ngModel)]="service.eFormData.EventDescription" class="form-control"
                        placeholder="Enter description of the event" minlength="2" maxlength="180" required
                        [ngClass]="{'is-invalid': EventDescription.touched && EventDescription.invalid}"></textarea>
                    <div class="validation-error" *ngIf="EventDescription.touched && EventDescription.invalid">
                        <div *ngIf="EventDescription.errors.required">Event description is Required</div>
                    </div>
                </div>

                <!--Event Image-->
                <div class="form-group">
                    <label>Event Image </label>
                    <textarea name="EventImage" #EventImage="ngModel"
                        [(ngModel)]="service.eFormData.EventImage" class="form-control"
                        placeholder="Enter image url " required
                        [ngClass]="{'is-invalid': EventImage.touched && EventImage.invalid}"></textarea>
                    <div class="validation-error" *ngIf="EventImage.touched && EventImage.invalid">
                        <div *ngIf="EventImage.errors.required">Event image is Required</div>
                    </div>
                </div>



                <!--submit button-->
                <br>
                <div class="form-group">
                    <button type="submit" [disabled]="!(form.valid && form.dirty)"
                        class="btn btn-lg btn-primary form-control">Submit
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
