<app-navbar></app-navbar>
<a class="btn btn-sm btn-outline-primary" style="margin-left: 80%;"  href="../doctor"><b>Go Back</b></a>
<br>
<br>

<div class="container">
    <div class="card">
        <div class="card-body">
  <div style="padding-left: 65%; width: max-content;"> 
    <a class="btn btn-lg btn-outline-secondary" (click)="addNotes()"><b>Add Notes</b></a> &nbsp; &nbsp; 
    <a class="btn btn-lg btn-outline-secondary" style="padding-left: 10px;" (click)="addPrescription()"><b>Add Prescription</b></a>      
  </div>
<br>
<br>
<div class="container">
    <div class="header">
        <h5>Prescriptions</h5>       
    </div>
    <table class="table table-bodered table-striped">
        <thead>
            <tr>
                <th>PrescriptionNumber</th>
                <th>Patient Name</th>
                <th>DoctorName</th>
                <th>PrescriptionDate</th>                
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
                    
                <ng-container *ngFor="let prescription of labService.prescriptions.slice().reverse()  | paginate: {itemsPerPage:5 , currentPage: page}">
                   <tr *ngIf="prescription.PatientId == patientId">
                    <td  >{{prescription.PrescriptionNumber}}</td>
                    <td  >{{prescription.PatientName}}</td>
                    <td  >{{prescription.DoctorName }}</td>
                    <td  >{{prescription.PrescriptionDate | date:'dd-MM-yyyy'}}</td>                   
                    <td  >                        
                        <button  (click)="viewFullPrescription(prescription.PrescriptionId)" class="btn btn-info" style="margin-left:10px">Detailed View</button>                    
                    </td>  
                </tr>                  
            </ng-container>            
        </tbody>

    </table>
    <div class="footer">
        <!--Pagination  : Page Change-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
    <br>
    <br>

    <!--Reports Of Patient-->    
    <div class="header">
        <h5>Reports</h5>
    </div>
    <table class="table table-bodered table-striped">
        <thead>
            <tr>
                <th>Report Number</th>
                <th>Staff Name</th>
                <th>DoctorName</th>
                <th>Report Date</th>                               
               
                
            </tr>
        </thead>
        <tbody>
                    
                <ng-container *ngFor="let report of labService.reports  | paginate: {itemsPerPage:10, currentPage: reportPage}">
                    <tr *ngIf="report.PatientId == patientId">
                    <td  >{{report.ReportNumber}}</td>
                    <td  >{{report.StaffName}}</td>
                    <td  >{{report.DoctorName }}</td>
                    <td  >{{report.ReportDate | date:'dd-MM-yyyy'}}</td>                                   
                    <td  >                        
                        <button  (click)="viewTest(report.ReportId)" class="btn btn-info" style="margin-left:10px">View Full Report</button>                    
                    </td>
                    
                </tr>
                </ng-container>
            
        </tbody>

    </table>    
    <br>



    
    <h3>Notes</h3>
    <div class="row" *ngFor="let observation of consultService.observations.slice().reverse()">        
        <div class="card">
        <div class="card-body">
            <p style="float: right;">{{observation.ObservationDate | date:'dd-MM-yyyy'}}</p>
            <h5 class="card-title">{{observation.Observation}}</h5>
            <p class="card-text">{{observation.DoctorNotes}}</p>            
        </div>          
    </div>



</div>
