<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-body">

            <form name="prescriptionForm" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">


                <!--Patient ID-->
                <div class="form-group">
                    <label>Patient</label>
                    <input class="form-control" readonly value={{patientName}}>
                    
                </div>
                <br>

                <!--Doctor ID -->
                <div class="form-group">
                    <label>Doctor</label>
                    <input class="form-control" readonly value={{doctorName}}>
                    
                </div>
                <br>

                <!--Submit Button-->
                <div class="form-group">
                    <br>
                    <button type="submit"
                        class="btn  btn-primary form-control">
                        Confirm
                    </button>
                </div>
                <br>
            </form>

            <div *ngIf="isSubmitted == true">
                <button class="btn  btn-secondary form-control" (click)="addMedicine()">Add Medicines</button>
            </div>
        </div>
    </div>
</div>