<nav class="navbar navbar-expand-lg navbar navbar-primary" style="background-color: #e3f2fd;">

    <div class="container-fluid">
        <a class="navbar-brand " href="/home"><i class="fa fa-home"></i><b>HOME</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="about.html"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event"><b>EVENTS</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ANNOUNCEMENTS</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-left:600px" href="/login"><b>LOGOUT</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="conatiner">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="header">
                    <h5>Appointment Info</h5>
                    <!--search functionality-->
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="search here...." [(ngModel)]="filter">
                    </div>
                    <a [routerLink]="['appointment']" class="btn btn-primary">Add Appointment</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Appointment Id</th>
                            <th>Appointment Date</th>
                            <!--<th>Appointment Time</th> -->
                            <th>Doctor id</th>
                            <th>Patient id</th>
                            <th>IsActive</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let apt of service.appointments|filter:filter| paginate:{itemsPerPage:5,currentPage:page}">
                            <!-- <ng-container *ngIf="emp.IsActive">-->
                            <td (click)="populateForm(apt)">{{apt.AppointmentId}}</td>
                            <td (click)="populateForm(apt)">{{apt.AppointmentDate |date:'dd-MM-yyyy' }}</td>
                            <!--<td (click)="populateForm(apt)">{{apt.AppointmentTime |date:'h:mm:ss'}}</td>-->
                            <td (click)="populateForm(apt)">{{apt.DoctorId}}</td>
                            <td (click)="populateForm(apt)">{{apt.PatientId}}</td>
                            <td (click)="populateForm(apt)">{{apt.IsActive}}</td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger"
                                    (click)="deleteAppointment(apt)">X</button>&nbsp;
                                <button (click)="updateAppointment(apt.AppointmentId)" class="btn btn-info"
                                    style="margin-left:10px">Edit</button>

                            </td>

                            <!-- </ng-container>-->
                        </tr>
                    </tbody>
                </table>
                <div class="footer">
                    <!--pagination-->
                    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
</div>