<app-navbar></app-navbar>

<div class="conatiner">
    <div class="card">
        <div class="card-body">
            <form name="billform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
                <!--Bill ID-->
                <input type="hidden" name="BillId" [(ngModel)]="service.billFormData.BillId" />

                <!--BillNumber-->
                <div class="form-group">
                    <!--<label>Bill Number</label>-->
                    <input type="hidden" name="BillNumber" readonly #BillNumber="ngModel"
                        [(ngModel)]="service.billFormData.BillNumber" class="form-control"
                        placeholder="enter BillNumber" required
                        [ngClass]="{'is invalid':BillNumber.touched && BillNumber.invalid}" />
                    <div class="validation-error" *ngIf="BillNumber.touched&&BillNumber.invalid">
                        <div *ngIf="BillNumber.errors.required">Bill Number is required</div>
                    </div>
                </div>

                <!--Bill Date-->
                <div class="form-group">
                    <label>BillDate</label>
                    <input type="datetime" readonly name="BillDate" id="BillDate" #BillDate="ngModel"
                        [(ngModel)]="service.billFormData.BillDate" class="form-control" required
                        [ngClass]="{'is invalid':BillDate.touched && BillDate.invalid}" />
                    <div class="validation-error" *ngIf="BillDate.touched&&BillDate.invalid">
                        <div *ngIf="BillDate.errors.required">Bill Date is required</div>
                    </div>
                </div>

                 <!--Doctor consultation fee-->
                 <div class="form-group">
                    <label>Doctor consultation fee</label>
                    <input type="number" name="DoctorConsulationFee" #DoctorConsulationFee="ngModel" [(ngModel)]="service.billFormData.DoctorConsulationFee"
                        class="form-control" placeholder="enter the amount" required
                        [ngClass]="{'is invalid':DoctorConsulationFee.touched && DoctorConsulationFee.invalid}" (input)="onPassValue1($event.target.value)" />
                    <div class="validation-error" *ngIf="DoctorConsulationFee.touched && DoctorConsulationFee.invalid">
                        <div *ngIf="DoctorConsulationFee.errors.required">Doctor Consulation Fee is required</div>
                    </div>
                </div>

                 <!--Lab fee-->
                 <div class="form-group">
                    <label>Lab Test Fee </label>
                    <input type="number" name="LabTestFee" #LabTestFee="ngModel" [(ngModel)]="service.billFormData.LabTestFee"
                        class="form-control" placeholder="enter the amount" required
                        [ngClass]="{'is invalid':LabTestFee.touched && LabTestFee.invalid}" (input)="onPassValue2($event.target.value)" />
                    <div class="validation-error" *ngIf="LabTestFee.touched && LabTestFee.invalid">
                        <div *ngIf="LabTestFee.errors.required">Lab Test Feeis required</div>
                    </div>
                </div>

                 <!--Nursing fee-->
                 <div class="form-group">
                    <label>Nursing Fee</label>
                    <input type="number" name="NursingFee" #NursingFee="ngModel" [(ngModel)]="service.billFormData.NursingFee"
                        class="form-control" placeholder="enter the amount" required
                        [ngClass]="{'is invalid':NursingFee.touched && NursingFee.invalid}" (input)="onPassValue3($event.target.value)"/>
                    <div class="validation-error" *ngIf="NursingFee.touched && NursingFee.invalid">
                        <div *ngIf="NursingFee.errors.required">Nursing Fee is required</div>
                    </div>
                </div>


                <!--Amount-->
                <div class="form-group">
                    <!--<label>Amount</label>-->
                    <input type="hidden" name="Amount" #Amount="ngModel" [(ngModel)]="service.billFormData.Amount"
                        class="form-control" placeholder=" Amount is" required
                        [ngClass]="{'is invalid':Amount.touched && Amount.invalid}" value={{total}}  />
                    <div class="validation-error" *ngIf="Amount.touched&&Amount.invalid">
                        <div *ngIf="Amount.errors.required">Amount is required</div>
                    </div>
                </div>

                <!--Patient ID-->
                <div class="form-group">
                    <label class="col-md-4">Patient</label>
                    <select name="PatientId" id="PatientId" class="form-control" #PatientId="ngModel" required
                        [(ngModel)]="service.billFormData.PatientId">
                        <option value="0" disabled>Choose Patient</option>
                        <option *ngFor="let pat of service.patients" value="{{pat.PatientId}}">
                            Name:{{pat.PatientName}}</option>

                    </select>
                    <div class="validation-error" *ngIf="PatientId.touched && PatientId.invalid">
                        <div *ngIf="PatientId.errors.required">Patient is required</div>
                    </div>
                </div>

                <!--is active
                <br>
                <div class="form-group">
                    <div class="form-check">
                        <label class="col-md-4">Is Active</label>
                        <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
                            [(ngModel)]="service.billFormData.IsActive" class="form-check-input">
                    </div>
                </div-->

                <!--submit button-->
                <br>
                <div class="form-group">
                    <button type="submit" [disabled]="!(form.valid && form.dirty)"
                        class="btn btn-lg btn-primary form-control">Submit
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>