<app-navbar></app-navbar>

<div class="conatiner">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="header">
                    <h5>Event Info</h5>
                    <!--search functionality-->
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="search here...." [(ngModel)]="filter">
                    </div>
                    <a [routerLink]="['events']" class="btn btn-primary">Add Event</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Event Id</th>
                            <th>Event Name</th>
                            <th>Event Description</th>
                            <th>Event Image</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let e of service.events|filter:filter| paginate:{itemsPerPage:5,currentPage:page}">
                            <td (click)="populateForm(e)">{{e.EventId}}</td>
                            <td (click)="populateForm(e)">{{e.EventName}}</td>
                            <td (click)="populateForm(e)">{{e.EventDescription}}</td>
                            <td (click)="populateForm(e)" >{{e.EventImage.substring(0, 55)}}</td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger"
                                    (click)="deleteEvent(e.EventId)">Cancel</button>&nbsp;
                                <button (click)="updateEvent(e.EventId)" class="btn btn-info"
                                    style="margin-left:10px">Edit</button>

                            </td>

                            <!-- </ng-container>-->
                        </tr>
                    </tbody>
                </table>
                <div class="footer">
                    <!--pagination-->
                    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
</div>

