<div class="container">
    <div class="header">
        <h5>Prescription  ID : {{pId}}</h5>        
        <br>
        
    </div>
    <table class="table table-bodered table-striped">
        <thead>
            <tr>
                <th>Test ID</th>
                <th>Test Name</th>
                
                
            </tr>
        </thead>
        <tbody>
                    
                <tr *ngFor="let test of labService.prescribedTests">
                    <td  >{{test.PrescribedTestId}}</td>
                    <td  >{{test.PrescribedTestName}}</td>             
                </tr>            
        </tbody>
    </table>
    <br>
    <br>   

    <table class="table table-bodered table-striped">
        <thead>
            <tr>
                <th>Medicine ID</th>
                <th>Medicine Name</th>
                <th>Dosage</th>               
                
            </tr>
        </thead>
        <tbody>
                    
            <tr *ngFor="let medicine of consultService.medicines">
                <td  >{{medicine.MedicineId}}</td>
                <td  >{{medicine.MedicineName}}</td>   
                <td  >{{medicine.Dosage}}</td>           
            </tr>            
    </tbody>
    </table>
    <br>
    <br>
    

</div>

