<nav class="navbar navbar-expand-lg navbar navbar-primary" style="background-color: #e3f2fd;">

    <div class="container-fluid">
        <a class="navbar-brand " href="/home" ><i class="fa fa-home"></i><b>HOME</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/aboutus"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus"><b>CONTACT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event"><b>EVENTS</b></a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" style="margin-left:1100%" href="/login"><b>LOGIN</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>


<div class="container" style="width: 60%;">
    <div class="card">
        <div class="card-body">
            <img src="https://www.efi.com/library/efi/images/about/contact_us/company_contact.jpg" style="float: right; height:max-content;">
            
            <p><b>Email :</b> cms@gmail.com</p>
            <p><b>Phone :</b> 8976543256 , 8976543245 </p>
            <p><b>Address :<br></b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Clinic<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Abcd Road<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thiruvanandapuram<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kerala
            </p>
            

        </div>

    </div>
</div>
